<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		a{
			text-decoration: none;
		}
		button{
	font-size: 16px;
	color: black;
	font-family: sans-serif;
	font-style: italic;
	border: 2 px solid green;
	border-radius: 4px;
	background-color: yellow;
	vertical-align: middle;
		}
	</style>
</head>
<body><center>
<button><a href="/abc/">get members</a></button><br/><br/>
<button><a href="/bcd/">add members</a></button><br/><br/>
<button><a href="/cde/">add custom members</a></button><br/><br/>
<button><a href="/signout/">Signout</a></button><br/><br/>

</center></body>
</html>