<!DOCTYPE html>
<html>
<head>
	<title>OTP</title>
	<style type="text/css">
		body{
			margin:20 20 20 20;
		}
		input[type=submit]{
	font-size: 16px;
	color: black;
	font-family: sans-serif;
	font-style: italic;
	border: 2 px solid green;
	border-radius: 4px;
	background-color: yellow;
	vertical-align: middle;}
	</style>
</head>
<body>
	<form method="POST" action="/otp/">
		{% csrf_token%}
<input type="text" placeholder="Enter your otp" name="otp">
<input type="submit" value="submit">
</form>
</body>
</html>